POSTGRES_SERVER=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# This should be a long, random, and secret string
SECRET_KEY=

# This should be the same as the SECRET_KEY
# It is used for JWT token encoding/decoding
JWT_SECRET=

# Algorithm used for JWT token encoding/decoding
JWT_ALGORITHM=HS256

# Access token expiration time in minutes
ACCESS_TOKEN_EXPIRE_MINUTES=60

# Super user credentials
FIRST_SUPERUSER=
FIRST_SUPERUSER_PASSWORD=

# SMTP settings for sending emails
SMTP_TLS=True
SMTP_PORT=587
SMTP_HOST=
SMTP_USER=
SMTP_PASSWORD=

EMAILS_FROM_EMAIL=
EMAILS_FROM_NAME=Vibe
EMAIL_RESET_TOKEN_EXPIRE_HOURS=24
EMAIL_TEMPLATES_DIR=/app/app/email-templates/build
EMAILS_ENABLED=True

# Project name
PROJECT_NAME=Vibe

# Backend CORS origins
# A comma-separated list of origins, e.g. "http://localhost,http://localhost:4200,http://localhost:3000"
BACKEND_CORS_ORIGINS=http://localhost:3000,http://localhost:3001,https://localhost:3000,https://localhost:3001
